body{
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30vh;
    }
    .translate{
        display: flex;
        justify-content: center;
        align-items: center;
        &__input{
            width: 400px;
        }
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 99%;
    }
    .translate__translated{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}