body{
    background-color: lightgrey;
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30vh;
    }
    .translate{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__input{
            margin: 10px;
            height: 30px;
            width: 500px;
            border-radius: 15px;
            background-color: lightgrey;
        }
        &__button{
            margin: 10px;
            background-color: lightgrey;
            width: 100px;
            height: 40px;
            border-radius: 15px;
        }
        &__translated{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 99%;
    }
}